.card-3 .card-4 {
  position: static;
}
@media screen and (min-width: 971px) {
  .card-4 {
    padding-right: 10px;
    padding-left: 10px;
  }
}
.card-3 .card-4 .kotak {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.card-3 .card-4 .kotak.kotak-1 {
  position: relative;
  background-color: #0f4c75;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px); /* mengubah size card */
  border-radius: 10px 10px 0 0;
}
.card-3 .card-4:hover .kotak.kotak-1 {
  background: #2541b2;
  transform: translateY(0); /* mengibah size card */
}
.card-3 .card-4 .kotak.kotak-1 .content {
  opacity: 1;
  transition: 0.5s;
}
.card-3 .card-4:hover .kotak.kotak-1 .content {
  opacity: 0.8; /* ngebuat reveal opacity klo 
    crusor diarahin ke gambar */
}
.card-3 .card-4 .kotak.kotak-1 .content img {
  max-width: 100px;
}
.card-3 .card-4 .kotak.kotak-1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
} /* teks */

.card-3 .card-4 .kotak.kotak-2 {
  position: relative;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-46px);
  border-radius: 0 0 6px 6px;
}
.card-3 .card-4:hover .kotak.kotak-2 {
  transform: translateY(0px);
  border-radius: 0 0 20px 20px;
}
.card-3 .card-4 .kotak.kotak-2 .content p {
  margin: 0;
  padding: 0;
}
.card-3 .card-4 .kotak.kotak-2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid#333;
  transition: 0.5s ease-in-out;
}
.card-3 .card-4 .kotak.kotak-2 .content a:hover {
  background-color: #333;
  color: #fff;
}
